.navbar {
  background-color: #000000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar-brand a{
  padding-left: 10px;
  color: red;
  font-size: 35px;
  text-shadow: 0 0 8px rgb(247, 247, 247);
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-size: 20px;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.nav-link:hover {
  background-color: rgba(126, 124, 124, 0.5);
  color: rgb(189, 189, 242)
}

@media (max-width: 750px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
  
}